<script type="text/javascript">
	$(window).load(function(){
	  $('#slider').ramblingSlider();
	});
</script>

<div class="transparent-soft-blue-box span8 offset3 text-center">

	<h1 class="styled-h1">
		Welcome!
	</h1>

	<br/>

	<h2 class="styled-h2">
		Your #1 source for all things Jeffrey Dill-related!
	</h2>

	<br/>
	<br/>

	<%= link_to 'Come On In!', personal_pages_path, :class => 'btn btn-info btn-large' %>
</div>

<% 13.times do |i| %>
    <br/>
<% end %>

<div id="container">
    <div class="photobanner">
        <%= image_tag "CNN_Award.png", :class => "first", :width => "233px", :height => "350px" %>
        <%= image_tag "Fox_News_Award.png", :width => "233px", :height => "350px" %>
        <%= image_tag "NYT_Award.png", :width => "233px", :height => "350px" %>
		<%= image_tag "CNN_Award.png", :width => "233px", :height => "350px" %>
		<%= image_tag "Fox_News_Award.png", :width => "233px", :height => "350px" %>
        <%= image_tag "NYT_Award.png", :width => "233px", :height => "350px" %>
        <%= image_tag "CNN_Award.png", :width => "233px", :height => "350px" %>
		<%= image_tag "Fox_News_Award.png", :width => "233px", :height => "350px" %>
        <%= image_tag "NYT_Award.png", :width => "233px", :height => "350px" %>
        <%= image_tag "CNN_Award.png", :width => "233px", :height => "350px" %>
		<%= image_tag "Fox_News_Award.png", :width => "233px", :height => "350px" %>
        <%= image_tag "NYT_Award.png", :width => "233px", :height => "350px" %>
        <%= image_tag "CNN_Award.png", :width => "233px", :height => "350px" %>
		<%= image_tag "Fox_News_Award.png", :width => "233px", :height => "350px" %>
        <%= image_tag "NYT_Award.png", :width => "233px", :height => "350px" %>
    </div>
</div>

