<!DOCTYPE html>
<html>
	<head>
		<%= provide(:title, 'Tweets') %>
	</head>

	<div class="tweets-body">
		<% @tweets.each do |tweet| %>
			<div style="background-color:yellow;border:1px solid black;display:none;width:200px;height:200px;" id="<%= tweet_id(tweet) %>">
				<%= image_tag tweet_url(tweet) %>
			</div>

			<div class="tweet-container span3 float">
				<div class="tweet-text">
					<%= tweet_text(tweet) %>
				</div>

				<br/>

				<div>
					<a href="#" onClick="Popup.show('<%= tweet_id(tweet) %>'); return false; "><%= image_tag tweet_url(tweet) %></a>
				</div>
			</div>
		<% end %>
	</div>
</html>