<span class="styled-paragraph">
	<%= simple_form_for @blog do |f| %>
		<%= f.input :title, :label => 'Title:', :placeholder => "What's the title of this post?" %>

		<br/>

		<%= f.input :article, :label => 'Article:', :placeholder => "What's on your mind?" %>

		<br/>

		<%= f.input :date, :label => 'Date:', :placeholder => '1900-01-30' %>

		<br/>

		<%= submit_tag 'Save', :class => 'btn btn-success btn-large' %>
	<% end %>
</span>