<%= link_to 'Create New Blog', new_blog_path, :class => 'btn btn-success btn-large' %>

<% @blogs.each do |blog| %>
	<%= link_to blog_path(blog) do %>
	<div class="section-background text-center" style="margin-bottom: 30px; ">
		<div class="header-background">
			<div class="blog-preview-title">
				Title: <%= blog.title %>
			</div>
		</div>

		<div class="blog-preview-article">
			Article: <%= blog.article %>
		</div>

		<br/>

		<div class="blog-preview-date">
			Date: <%= blog.date %>
		</div>
	</div>
	<% end %>
<% end %>