<!DOCTYPE html>
<html>
  <head>
    <!--//////////////////////////////////////////////
    /////////////////////////////// DYNAMIC PAGE TITLE
    ///////////////////////////////////////////////-->
    <title>
      <%= full_title(yield(:title)) %>
    </title>
    
    <!--//////////////////////////////////////////////
    ///////// JS, WEB FONTS, AND APPLICATION RESOURCES
    ///////////////////////////////////////////////-->
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <link href='http://fonts.googleapis.com/css?family=Monofett|Inconsolata:400,700|Ubuntu+Mono' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
      $('.dropdown-toggle').dropdown()
    </script>
  </head>

  <body>
    <!--//////////////////////////////////////////////
    //////////////////////////////////// YIELDING PAGE
    ///////////////////////////////////////////////-->
    <%= render :partial => 'layouts/header' %>
    
    <%= yield %>

    <%= render :partial => 'layouts/footer' %>

    <!--//////////////////////////////////////////////
    ///////////////////////////////// GOOGLE ANALYTICS
    ///////////////////////////////////////////////-->
    <% unless Rails.env.development? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-46472596-1', 'jeffreydill.com');
        ga('send', 'pageview');
      </script>
    <% end %>
  </body>
</html>